
p {

    color: white;
    background-color: blue;
    width: 400px;
    padding: 20px;
    text-align: center;
}

form {
    display: inline-block;
}

textarea {
    display: block;
    margin-top: 20px;
    width: 400px;
    height: 200px;
}